@import 'reset';
@import 'fonts';
@import 'mixins';


body{
  font-family: 'Graphik', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color:#303030;
  font-weight: 400;
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
}
*,
*::before,
*::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}


header{
  background-color: #ffffff;
  display: block;
  width: 100%;
  min-height: 75px;
}

.logo{
  text-align: center;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    margin-left: -50px;
    @include mobile{
      margin-left: -25px;
    }
  }
  a{
    display: inline-block;
  }
  .logo-pssi{
    padding-right: 16px;
    max-width: 100%;
    height: 50px;
    border-right: 1px solid #ddd;
  }
  .logo-cr{
    max-width: 100%;
    height: 36px;
    padding-left: 16px;
  }
}

.jumbroton{
  color:#fff;
  background-color: #EC373C;
  text-align: center;
  background-image: url('../images/bg-timnas.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 64px 0;
  @include mobile{
    padding: 64px 15px;
    background-position: 78% 50%;
  }
  h1{
    font-size: 2.3rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    // text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: normal;
    @include mobile{
      font-size: 1.75rem;
    }
  }
  p{
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    font-weight: 500;
    line-height: normal;
    @include mobile{
      font-size: 18px;
    }
  }
}

.content{
  width: 100%;
  max-width: 965px;
  margin: 72px auto;
  @include mobile{
    margin: 32px auto;
  }
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @include mobile{
    flex-direction: column;
  }
  &__col{
    width: 100%;
    padding: 0 24px;
    @include mobile{
      width: auto;
    }
  }
}

.donation{
  p{
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
  }
  &__amount{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 32px;
    @include mobile{
      font-size: 2.2rem;
    }
    @include small-mobile{
      font-size: 1.85rem;
    }
  }
  &--text{
    font-weight: 300;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 32px;
    strong{
      font-weight: 500;
    }
  }
  &--call-to-action{
    margin-bottom: 32px;
  }
  &--share{
    // display: flex;
    // align-items: center;
    p{
      // display: inline;
      // margin: 0 10px 0 0;
    }
  }
}

a{
  text-decoration: none;
}
.btn{
  background: #27B765;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 16px 40px;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  &:hover{
    background-color: #16a252;
  }
}

.embed-container { 
  position: relative; 
  // padding-bottom: 56.25%;
  padding-bottom: 70%;
  height: 0; 
  overflow: hidden;
  max-width: 100%; 
  @include mobile {
    margin-bottom: 32px;
  }
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

footer{
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 24px 0;
  border-top:1px solid #ddd;
}

.powered{
  width: 100%;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  &__img{
    max-width: 100%;
    height: 23px;;
  }
  span{
    margin: 5px;
  }
}

span{
  display: inline;
}

.share{
  &__socmed{
    display: inline;
    li{
      display: inline-block;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}


.content--donasi{
  max-width: 550px;
}
.donasi{
  &__wrapper{
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    padding: 32px;
  }
  &__label{
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
  }
  &__amount{
    font-size: 2rem;
    text-align: center;
  }
}

// input
.inputGroup {
  background-color: #ddd;
  display: block;
  margin: 10px 0;
  position: relative;

  label {
    padding: 17px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #1F4494;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      // transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    color: #fff;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: #FBC210;
      border-color: #FBC210;
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}


// codepen formatting
.form {
padding: 0 16px;
max-width: 550px;
margin: 50px auto;
font-size: 18px;
font-weight: 600;
line-height: 36px;
}

.form-group{
  margin-bottom: 36px;
}

input[type=text], input[type=email], select {
  width: 100%;
  padding: 14px 20px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: inherit;
  box-shadow: none;
  border:1px solid #ddd;
}

.text-center{
  text-align: center;
}